* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    margin-top: 60px;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.kontenerhalaman {
    padding: 10px 20px 0px 20px;
}

.footer {
    z-index: 4;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f9f9f9;
    border-top: 1px solid transparent;
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.2);
}

.newzi-title-header {
    font-family: 'Poppins' !important;
    font-weight: bold !important;
    color: #788bff !important;
}

.navbar {
    z-index: 4;
    padding-left: 20px;
    background: #f9f9f9 !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.group-container {
    padding: 0;
    height: 100%;
}

.selectors,
.block {
    height: 100%;
    width: 100%;
}

.selectors button {
    border: 0;
    border-radius: 0;
    background-color: #f9f9f9 !important;
    width: 25%;
    margin-left: 0;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
}

.selectors button:active {
    border: 0;
}

.selectors button:focus {
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 0px;
}

.active,
.selector-holder {
    display: flex;
    flex-direction: column;
}

.inactive {
    display: none;
}

.selector-holder span {
    font-size: 0.8rem;
}


/*Style Bottom Bar*/

.button-active,
.selectors button:hover {
    cursor: pointer;
    color: #788bff;
}

.button-active,
.selectors button:active,
.selectors button:focus {
    color: #788bff;
    font-family: 'Poppins' !important;
    font-weight: bold !important;
}

.button-inactive {
    color: #555b6e;
}

.fas {
    margin-bottom: 6px;
}

.btn-search {
    background: #788bff;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    color: #f9f9f9;
}


/*Animasi Hover Menu*/

div.animasi-lingkaran button:before,
div.animasi-lingkaran button:after {
    position: absolute;
    top: 22px;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 4px solid #788bff;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: 20;
}

div.animasi-lingkaran button:after {
    border-width: 2px;
    transition: all 0.4s;
}

div.animasi-lingkaran button:hover:before {
    opacity: 0.5;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.animasi-lingkaran button:hover:after {
    opacity: 0.5;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}


/*Style Buat Timeline Berita*/

.timeline {
    z-index: 1;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: -20px !important;
}

.timeline .gambarberita {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #788bff;
    top: 0;
    bottom: 0;
    left: 2%;
    border-radius: 10px;
    margin-left: -3px;
}

.timelinekontener {
    padding: 10px;
    padding-left: 30px;
    position: relative;
    background-color: inherit;
    width: 100%;
}

.timelinekontener::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #f9f9f9;
    border: 4px solid #788bff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timelinekanan {
    left: 2%;
}

.timelinekanan::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 36px;
    width: 0;
    z-index: 1;
    left: 20px;
    border: medium solid #788bff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #788bff transparent transparent;
}

.timelinekanan::after {
    left: -14px;
    top: 34px;
}

.timelinekonten {
    color: #f9f9f9;
    padding: 20px 13px 13px 13px;
    background-color: #788bff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 6px;
}

.timelinepembatas {
    background-color: #f9f9f9;
}

.timelinekonten .judul {
    color: #f9f9f9;
}

@media (min-width: 300px) and (max-width: 500px) {
    .timeline {
        margin-left: -22px !important;
    }
    .timeline::after {
        left: 28px;
    }
    .timelinekontener {
        width: 100%;
        padding-left: 60px;
        padding-right: 5px;
    }
    .timelinekontener::before {
        left: 50px;
        top: 34px;
        border: medium solid #788bff;
        border-width: 10px 10px 10px 0;
        border-color: transparent #788bff transparent transparent;
    }
    .timelinekanan::after {
        left: 14px;
        top: 32px;
    }
    .timelinekanan {
        left: 0%;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        margin-left: -6px !important;
    }
}


/*Navigasi Kiri*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #555b6e;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
}

.sidenav a {
    padding: 20px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #f9f9f9;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*Halaman Profil*/

.card {
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #788bff;
}

.fotoprofil {
    width: 70%;
    border-radius: 50%;
    border: 4px solid #788bff;
}

.bagianatas {
    border-radius: 10px;
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
}

.card-body h3 {
    color: #788bff;
    font-family: 'Poppins';
    font-weight: bold;
}

.card-body p {
    color: #555b6e;
    font-family: 'Poppins';
    font-weight: 500;
}

.sosial {
    text-align: center;
    font-size: 20px;
}

.facebook {
    display: block;
    background: #788bff;
    color: #f9f9f9;
    padding: 10px;
    border-bottom-left-radius: 8px;
}

.instagram {
    display: block;
    background: #be158c;
    color: #f9f9f9;
    padding: 10px;
}

.github {
    display: block;
    background: #404040;
    color: #f9f9f9;
    padding: 10px;
}

.whatsapp {
    display: block;
    background: #2ebd1b;
    color: #f9f9f9;
    padding: 10px;
    border-bottom-right-radius: 8px;
}

.postingan {
    text-align: center;
    font-size: 18px;
    background: #f9f9f9;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.like {
    display: block;
    color: #555b6e;
    padding: 10px;
}

.komen {
    display: block;
    color: #555b6e;
    padding: 10px;
}

.dilihat {
    display: block;
    color: #555b6e;
    padding: 10px;
}

.bagikan {
    display: block;
    color: #555b6e;
    padding: 10px;
}